#cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}


header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

nav {font-family: Arial, sans-serif;background-color: #333;padding: 10px;}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 10px;
}

li {
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}



body {
  background-color: #060404;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.chat-container {
  max-width: 600px;
  margin: 0 auto;
}

.message {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;
  align-items: stretch;
}

.message-text {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 15px;
  max-width: 70%;
  margin-top: 20px;
}

.message-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.outgoing {
  flex-direction: row-reverse;
}

.incoming {
  flex-direction: row;
}

.time {
  font-size: 12px;
  color: #ffffff;
  margin-top: 5px;
}


.midia {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer .copy-symbol {
  font-size: 18px;
  margin-right: 5px;
}

footer {
  margin: 0;
  padding: o;
	background-color: #333;
	color: #fff;
	text-align: center;
}

.VSG {
  color: #fff;
}

.origem {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}